html {
    width: 100%;
    height: 100%;
    background-color: #B0E0E6;;
    font-family: 'Castoro', serif;
 }

 body.home {
    margin: 0;
    padding-top: 0;
    margin: 0;
    background-image: url("../Accounts/images/background--1.jpeg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
 }
 
 /* header style */
 header, .headr2 {
    height: 100px;
    background-color: #006400;
    width: 100%;
}

/* second header style  */
.headr2 ul  {
    padding-left: 100px;
    float: left;
    position: absolute;
    top: 5%;
}
ul {
    float: right;
    position: relative;
    right: 10%;
    padding-top: 3%;

}
ul li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}
ul li a:hover {
    text-decoration: underline;
}

ul li a {
    
    text-decoration: none;
    color: whitesmoke;
    font-size: 24px;
    padding: 0px 0px 0px 0px;

}
/* home page of login and register link style */

.home-log li {
    list-style: none;
    padding: 30px;
    text-align: center;
    
}
.home-log li a{
    background-color: #006400;
    padding:20px;
    width: 10%;
    text-decoration: none;
    font-size: 24px;
    display: inline-block;
    color: white;
}

section.home {
    padding-top: 100px;;
}
/* footer style */



footer {
    background: #000000;
    position: relative;
    margin-top: 250px;
  }
  footer h3 {
    padding-top: 2rem;
    text-align: center;
    color: white;
  
  }
  .contacts {
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
  }
  .social li  {
      display: block;
      text-align: left;
  }
  .Soci li {
    display: block;
    text-align: left;
  }


/* form style */
 form{
   
    text-align: center;
}

label {
    color: blue;
    font-size: 22px;;
}

input, select{
    display: block;
    margin: 10px auto;
    text-align: center;
    box-shadow: 0 0 10px blue;
    width: 240px;
    height: 40px;
    background-color: #f2f2f2;
}
/* ok and cancel button style */

input.save  {
    display: block;
    background-color: green;
    color: #ffffff;
}

input.cancel  {
    background-color: #DC143C;
    color: #ffffff;
}

/* registration form of labels and inputes style */
.group1{
    float: left;
    width: 50%;
    
  }

  .register {
    text-align: center;
    padding-top: 20px;
    clear: both;
  }


  .search input {
      display: inline;
      width: 100px;
  }
  
  .patient-info td {
        padding: 7px;;
  }

  /* roles style */

  .new-role {
    text-align: center;
    margin-top: -300px;
    margin-left: 400px;
  }
  .role-info {
      
    margin-left: 10%;
  }
  .current_role {
      margin-top: 3rem;
  }

  #roles {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    
  }
  
  #roles td, #roles th {
    padding: 12px 15px
  }
  #roles tr td:nth-of-type(even) {
    background-color: #f3f3f3;
    }

  #roles th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }

  ul.admin {
      right: 30%;
  }
  /* account page,authorized users info after logged in  */
div.accountPage {
    padding-left: 5rem;
    
}
.account--page, .patient--Info {
    background-color: #B0E0E6;
    font-size: 1.2rem;
}
.info {
    background-color: green;
  }
.yourInfo table {
    background-color: whitesmoke;
    border-collapse: collapse;

      
  }
.yourInfo td, .yourInfo  th {
    padding: 7px;
    
  }
/* patient info style */
.patient-info table {
   
    margin-top: 10%;
}
.patient-info table  th, td, tr {
    padding: 7px;
    border-collapse: collapse;
    background-color: aquamarine;
}
.patient-info td{
    border:1px solid honeydew;
    border-top: none;
    border-bottom: none;
}
/* search box or inpute stayle */
.search-result {
    margin-left: 200px;
}
/* schedule result after searching the specific date -- page style */
.schedul-result table {
    margin-left: 200px;
    background-color: lightgray;
}
/* schedule result after searching the specific employee or search all button -- page style */

.employeeSearch table tr input {
    width: 100px;;
}
.updateemployee-Salary {
    position: fixed;
    right: 5%;
    top: 20%;
    
    
    
}

/* home page content style */
section.home {
    font-weight: bold;
    color: #ffffff;
    font-size: 1.5rem;
}
/* login page  style */
.login ,.registePage, .new-roster {
    background-color: #E6E6FA;
}
.login-page, .register-page, .roster-page {  
  background-color: #00CED1;
  height: 500px;
  width: 50%;
  margin: 0 auto;
  color: white;
  border-radius: 3%;
  margin-top: 200px;
  text-align: center;
  padding-top: 3rem;
}


.register-page  {
    padding-bottom: 1rem;
}
.register-page label, .login-page label  {
    color: whitesmoke;
}

/* approval page style */

.approval-page {
  text-align: center;
}
.approval-page #yes, .approval-page #no {
    width: 50px;
}
.approval {
    padding-top: 5rem;
    padding-left: 3rem;
}
.approval table th {
    padding: 1.5rem;
}


.appr {
    text-align: left;
    
}
/*  */
.additional-Info, .rosterPage {
    text-align: center;
    padding-top: 4rem;
}
/* employee page */
.employee-page  {
   padding-top: 3rem;
}
/* patient-infoview page */
div.patient-info, .patient_info--result {
    padding-left: 2rem;
    
}

div.patient-info form {
    text-align: left;
    
}
.column th {
    background-color: #4CAF50;
    color: white;
}
tr.cell :nth-child(even){background-color: #f2f2f2}
/* doctor appointment page */
.Dr-appointment {
    text-align: center;
}
.Dr_appointment input {
    display: inline-block;
    width: 140px;
}
.appointment_list {
    position: fixed;
    right: 5%;
    top: 20%;
}

.docotr-home form {
    text-align: left;
}

.docotr-home {
    padding-left: 2rem;
}
.edit table{
    position: fixed;
   top: 35%;
   left: 78%;
}
.family--result {
    background-color: wheat;
}
/* admin report */ 


.report {
    color: black;
}
/* payment page */ 

.Payment {
    text-align: center;
}

/* roster page */ 

.schedul-result table , th, td, tr {
    padding: 10px;
    border-collapse: collapse;
    background-color: aquamarine;
}
 